
 li {
    position: relative;
    scroll-snap-align: start;
    display: flex;
    flex: 0 0 auto;
    scroll-margin: 0 var(--size-fluid-4);
    padding: 0;
    max-width: unset;
    content-visibility: visible;
    animation: var(--animation-fade-in) forwards;
    transition: all .25s var(--ease-elastic-1);
  }
  
  
 li [inert]>* {
    content-visibility: hidden;
  }
  
 li > * {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width:calc(100vw - (var(--size-fluid-4) * 2));
    width: min(calc(100vw - (var(--size-fluid-4) * 2)), var(--default-item-width));
    min-height: var(--default-item-height);
    background: var(--surface-2);
    transition: all 0s var(--ease-elastic-1);
  }